# Ignorar el entorno virtual local, ya que el contenedor tendrá el suyo
blink_venv/

# Ignorar dependencias del frontend
news-blink-frontend/node_modules/

# Ignorar archivos de Git y de configuración de Docker
.git/
.gitignore
Dockerfile
Dockerfile.frontend
.dockerignore
docker-compose.yml

# Ignorar archivos de cache de Python
__pycache__/
*.pyc
*.pyo

# Ignorar datos generados para que no se sobreescriban al reconstruir
# Los montaremos con un volumen en docker-compose
news-blink-backend/src/data/
