services:
  backend:
    build: .
    container_name: blink-news-backend
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    restart: unless-stopped
    environment:
      - OLLAMA_BASE_URL=http://host.docker.internal:11434
      # --- AÑADIR TU API KEY AQUÍ ---
      - TAVILY_API_KEY=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 # <-- PEGA TU CLAVE AQUÍ
    command: python -u -m flask run --host=0.0.0.0 --port=5000

  frontend:
    build:
      context: ./news-blink-frontend
      dockerfile: Dockerfile.frontend
    container_name: blink-news-frontend
    ports:
      - "5173:5173"
    volumes:
      - ./news-blink-frontend:/app
      - /app/node_modules
    restart: unless-stopped
    environment:
      - VITE_API_PROXY_TARGET=http://backend:5000
