# requirements.txt
Flask==2.3.3
Flask-CORS==4.0.0
requests==2.31.0
beautifulsoup4==4.12.2
nltk==3.8.1
ollama==0.5.1
# --- Dependencias para el Agente Autónomo ---
selenium==4.21.0
langchain==0.2.1
langchain-community==0.2.1
langchain-ollama==0.1.3
langchainhub==0.1.18